.cover-hero {
  position: relative;
  width: 100%;
  height: 266px;
  overflow: hidden; 
}

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cover-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  text-align: center;
  z-index: 1;
}
 
@media (max-width: 1024px) {
  .cover-hero {
    height: auto;
  }
  .cover-img {
    height: auto;
  }
  .cover-title {
    font-size: 36px;
  }
}
 
@media (max-width: 768px) {
 
  .cover-title {
    font-size: 32px;
  }
}
 
@media (max-width: 480px) {
 
  .cover-title {
    font-size: 26px;
  }
}
 
@media (max-width: 385px) {
  .cover-hero {
    height: auto; 
  }
  .cover-title {
    font-size: 22px;
  }
}
