.about-us-serviceWrapper {
  position: relative;
  width: auto;
  left: 28%;
}
.about-us-serviceWrapper h2 {
  text-align: left !important;
}
.btn-group {
  gap: 20px;
}
.transparent-btn {
  background: transparent !important;
  border-radius: 6px !important;
  margin: 10px 0px;
  padding: 4px;
  width: auto !important;
}
.transparent-btn:hover {
  background: #fdb900 !important;
  transform: scale(1) !important;
}

.about-us-para {
  color: white !important;
  text-align: left !important;
  padding: 0 !important;
}
.mission-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 40px 100px;
  flex-wrap: wrap;
  background: var(--color-f5);
  margin-top: 80px;
}
.mission-left {
  flex: 1;
  min-width: 280px;
}
.mission-left h2 {
  font-size: var(--font-size-4xxxl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}
.mission-left p {
  font-size: var(--font-size-sm);
  line-height: 1.6;
  white-space: pre-line;
}
.mission-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mission-right img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}
.para-700 {
  font-weight: var(--font-weight-bold);
}
.vision-container {
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 12px;
  padding: 40px;
  margin: 40px 100px;
  position: relative;
}
.vision-overlay {
  border-radius: 12px;
  max-width: 800px;
  text-align: left;
}
.vision-overlay h2 {
  font-size: var(--font-size-4xxxl);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  margin-bottom: 8px;
}
.vision-overlay p {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-normal);
  color: var(--color-white);
  line-height: 1.6;
  white-space: pre-line;
}

.promise-container {
  background: var(--color-f5);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  padding: 40px 100px;
}
.promise-card {
  background: var(--color-f5);
  border-radius: 16px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.promise-img img {
  width: 390px;
  object-fit: contain;
  margin-bottom: 1rem;
}
.aboutus-last {
  min-height: 54vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 12px;
  padding: 20px;
  margin: 40px 100px;
  position: relative;
}
.aboutus-last-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}
.aboutus-last-content {
  width: 54%;
  color: var(--color-white);
  text-align: left;
}
.aboutus-last-content p {
  font-size: var(--font-size-2xl);
  line-height: 1.3;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.aboutus-last-content button {
  width: 220px;
  height: 48px;
  background: var(--color-btn);
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--font-size-xl);
}
.strong-color {
  color: var(--color-e);
}
.promise-box h2 {
  background: #f5f5f5;
  margin: 0;
  padding-top: 40px;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1280px) {
  .mission-container {
    padding: 40px 60px;
  }

  .vision-container {
    margin: 40px 60px;
  }

  .promise-container {
    padding: 40px 60px;
    gap: 32px;
  }

  .aboutus-last {
    min-height: 50vh;
    margin: 40px 60px;
  }

  .promise-img img {
    width: 362px;
  }

  .mission-left p {
    white-space: normal;
  }

  .aboutus-last-content p {
    font-size: var(--font-size-xl);
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 1025px) {
  .promise-img img {
    width: 280px;
  }
  .promise-box h2 {
    font-size: 36px;
  }

  .about-us-serviceWrapper {
    left: 32% !important;
  }

  .mission-left h2 {
    font-size: var(--font-size-4xl);
  }
}

@media (max-width: 768px) {
  .mission-container {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-top: 0;
  }
  .promise-box h2 {
    font-size: 32px;
  }

  .vision-container {
    margin: 40px 20px;
  }

  .promise-container {
    padding: 40px 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .aboutus-last {
    margin: 40px 20px;
  }

  .promise-img img {
    width: 345px;
  }

  .vision-overlay h2 {
    font-size: 2rem;
  }

  .vision-overlay p {
    font-size: 1rem;
  }

  .aboutus-last-overlay {
    justify-content: flex-end;
  }

  .aboutus-last-content {
    width: 75%;
    text-align: right;
  }

  .aboutus-last-content p {
    font-size: var(--font-size-base);
    line-height: 1.4;
    text-align: center;
  }

  .aboutus-last-content button {
    width: 180px;
    height: 40px;
    background: var(--color-btn);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--font-size-lg);
  }

  .about-us-serviceWrapper {
    width: 55% !important;
  }

  .about-us-serviceWrapper h2 {
    font-size: 32px !important;
    margin-bottom: 8px !important;
  }

  .mission-left h2 {
    font-size: var(--font-size-3xxl);
  }

  .mission-left p {
    font-size: var(--font-size-xs);
  }
}

@media (max-width: 480px) {
  .mission-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .promise-box h2 {
    font-size: 28px;
  }
  .promise-container {
    padding: 40px 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .promise-img img {
    width: 382px;
  }
  .about-us-serviceWrapper h2 {
    font-size: var(--font-size-sm) !important;
  }

  .about-us-serviceWrapper p {
    font-size: var(--font-size-xs) !important;
    display: none;
  }

  .transparent-btn {
    font-size: var(--font-size-xs) !important;
    height: 26px !important;
    width: 136px !important;
  }

  .vision-container {
    min-height: auto;
    background-size: contain;
    padding: 0;
    margin: 20px;
  }

  .vision-overlay {
    padding: 1rem;
  }

  .vision-overlay h2 {
    font-size: var(--font-size-2xl);
    margin-bottom: 6px;
  }

  .vision-overlay p {
    font-size: var(--font-size-xs);
    line-height: normal;
  }

  .mission-left h2 {
    font-size: 28px;
  }

  .aboutus-last {
    min-height: auto;
    margin: 20px;
    padding: 12px;
    border-radius: 8px;
    background-size: contain;
    background-position: center;
  }

  .aboutus-last-overlay {
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    border-radius: 8px;
  }

  .aboutus-last-content {
    width: 100%;
    text-align: right;
  }

  .aboutus-last-content p {
    font-size: var(--font-size-sm);
    line-height: 1.4;
    margin-bottom: 4px;
    text-align: center;
  }

  .aboutus-last-content button {
    width: 100%;
    height: 32px;
    max-width: 128px;
    font-size: var(--font-size-sm);
  }
}

@media (max-width: 390px) {
  .about-us-serviceWrapper h2 {
    font-size: 16px !important;
  }

  .btn-group {
    gap: 10px;
  }

  .mission-left h2 {
    font-size: 28px;
  }

  .promise-img img {
    width: 332px;
  }

  .aboutus-last-content p {
    font-size: var(--font-size-xs);
  }

  .aboutus-last-content button {
    max-width: 96px;
    height: 24px;
    font-size: 10px;
  }

  .vision-overlay h2 {
    font-size: var(--font-size-lg);
    margin-bottom: 6px;
  }

  .vision-overlay p {
    margin-bottom: 2px;
  }
}

@media (max-width: 330px) {
  .about-us-serviceWrapper h2 {
    font-size: 12px !important;
  }

  .transparent-btn {
    height: 22px !important;
    padding: 2px;
    margin: unset;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .aboutus-last-content p {
    font-size: 9px;
    margin-bottom: 0;
  }

  .aboutus-last-content button {
    max-width: 96px;
    height: 26px;
    font-size: 10px;
  }

  .promise-img img {
    width: 276px;
  }
}
