.form-control-underline {
  border: none;
  border-bottom: 1px solid #1D808C;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  text-align: left !important;
  padding: 0;
  margin-left: 0;
  font-size: 18px;
  background: transparent; 
  width: 100%;
}
.contact-container {
    margin-top: 50px;
}
.input-field-box {
    margin-left: 0;
    padding-left: 0;
}

.form-style {
    padding: 30px 0;
}
  

.form-label-text {
font-size: 18px; 
}

.form-control-underline:focus {
  border-bottom: 2px solid #145e65;
}

.form-submit-btn {
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  height: 48px;
  padding: 6px 18px;
  border: none;
  background-color: #FDB900;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.form-submit-btn:hover {
    transform: scale(1.05);
}

.my-h2{
  font-size: 32px;
  font-weight: 600;
}

.contact-info {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
}

.my-h4 {
    color: #1d808c;
    font-size: 28px;
}

.address-detail-box {
    margin: 20px 0;
}

.banner-color {
  color: #1d808c;
  font-weight: 500;
}

.input-group-text {
  border: none;
  background: none;
  border-bottom: 1px solid #1D808C;
  padding: 0;
  margin: 0;
}

.form-status {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
}

.form-status.success {
  color: green;
}

.form-status.error {
  color: red;
}

 
@media (max-width: 1025px) {
  .form-label-text {
    font-size: 16px;
  }

  .form-control-underline {
    font-size: 16px;
  }

  .my-h2 {
    font-size: 24px;
  }

  .query-input {
    width: 100%;  
  }
  .form-submit-btn {
  height: 40px;
}
}
 
 
@media (max-width: 768px) {
  .form-control-underline {
    width: 100% !important; 
    font-size: 16px;         
  }

  .form-label-text {
    font-size: 16px;
  }

  .row > div {
    margin-bottom: 15px;
  }
  .my-h4 {
    color: #1d808c; 
    font-size: 24px;
}
.form-submit-btn {
  height: 36px;
}

}

@media (max-width: 480px) {
  .form-control-underline {
    width: 100% !important;  
    font-size: 18px;    
    padding: 6px 0;          
  }

  .container {
    margin-top: 20px;
  }
  .form-label-text {
    font-size: 18px;   
    display: block;    
    margin-bottom: 5px;    
  }

  .row > div {
    margin-bottom: 12px;  
  }

  .my-h2 {
    font-size: 22px;     
  }

  .form-submit-btn {
    font-size: 18px;
    width: 75%;
    padding: 10px;
  display: block; 
  margin: auto;   
  text-align: center;  
  }
  .form-style{
    margin-right: 20px;
  }
   .my-h4 {
    color: #1d808c; 
    font-size: 22px;
}
.form-submit-btn {
  height: 48px ;
}

}

@media(max-width:390px) {
    .contact-info {
        font-size: 16px;
    }
}
