.repeat-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.repeat-group {
  max-width: 529px;
  width: 100%;
}
.repeat-group label {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-secondary);
  color: var(--color-black);
  margin-bottom: 8px;
}
.repeat-group .css-13cymwt-control {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-secondary);
  color: var(--color-black);
  margin-bottom: 8px;
  height: 48px;
  border: 1px solid var(--color-primary);
}
.hospital-image {
  border: 1px dashed var(--color-primary);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .repeat-form {
    grid-template-columns: 1fr 1fr;
    gap: 28px;
  }
  .repeat-group {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .repeat-form {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .repeat-group label,
  .repeat-group .css-13cymwt-control {
    font-size: var(--font-size-md);
  }
}
@media (max-width: 768px) {
  .repeat-form {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .repeat-group {
    max-width: 100%;
  }
  .repeat-group label,
  .repeat-group .css-13cymwt-control {
    font-size: var(--font-size-base);
  }
}
@media (max-width: 480px) {
  .repeat-form {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .repeat-group {
    max-width: 100%;
  }
  .repeat-group label,
  .repeat-group .css-13cymwt-control {
    font-size: var(--font-size-sm);
  }
}
